.wrap-cadastro {
    margin-top: 60px;
}

.box-cadastro {
    margin-top: 20px;
}

.wrap-cadastro .btn-facebook .fa {
    padding-right: 15px;
}

.title-in-box {
    text-align: center;
    /* background: #0062A7 none repeat scroll 0% 0%; */
    font-size: 1.2em;
    text-transform: uppercase;
    color: #0062A7;
    line-height: 45px;
    border-bottom: 1px dotted #ddd;
    position: relative;
    margin-top: 0px;
    /*margin-right: -20px;
    margin-left: -20px;*/
    font-weight: 300;
}

.wrap-cadastro .radio {
    margin: 15px 0 15px 30px;
    display: inline-block;
}

.btn-cadastro-pessoa {
    border: 1px solid #dddddd !important;
}

.box-final-cadastrar {
    margin-bottom: 30px;
}